.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

.customNav {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 9999;
  width: 100%;
  //background-color: #34405F;
  background-color: #2F536F;
  border-color: #2F536F;
  border-radius: 0px;
  text-align: center;
  font-family: arial;
}