<section>
  <div class="col-sm-3 col-md-2 col-lg-2 col-xl-1 bg-faded sidebar">
    <h4><strong>Search By</strong></h4>
    <nav>
      <ul id="sideNav" class="nav nav-pills customPills nav-stacked flex-column">
        <li class="nav-item " ng-class="{active:tab.Set(1)}">
          <a href="" class="nav-link" ng-click="tab.Tab(1); tab.clear()"><strong>Address</strong></a>
        </li>
        <li class="nav-item" ng-class="{active:tab.Set(2)}">
          <a href="" class="nav-link" ng-click="tab.Tab(2); tab.clear()"><strong>Child's Name</strong></a>
        </li>
        <li class="nav-item" ng-class="{active:tab.Set(3)}">
          <a href="" class="nav-link" ng-click="tab.Tab(3)"><strong>Case ID</strong></a>
        </li>
      </ul>
    </nav>
  </div>
  <search-by-name></search-by-name>
</section>

