
@media (min-width: $screen-sm-min) {
		
	.sidebar {
	    position: fixed;
	    top: 61px;
	    bottom: 0;
	    height:100%;
	    left: 0;
	    z-index: 1000;
	    padding-left: 20px;
	    overflow-x: auto;
	    overflow-y: auto;
	    border-right: 1px solid #eee;
	}
}

@media (max-width: $screen-xs-max) { 
   .sidebar {
   	 margin-top: 65px;
   	 box-shadow: inset 0 1px 1px rgba(128, 128, 128, 0.075), 0 0 8px rgba(128, 128, 128, 0.6);
   }
}

.bg-faded {
    background-color: #f7f7f7;
}

.customPills {
    > li {
          > a {
            &:hover,
            &:focus {
              color: #ffffff;
              text-decoration: none;
              background-color: rgb(118, 121, 129);
            }
            
        @media (max-width: $screen-xs-max) {
            text-align: center;
            text-align: -webkit-center; 
            text-align: -moz-center;
            }
        }

 	}
}


