<section>
  <div class="col-sm-3 col-md-2 col-lg-2 col-xl-1 bg-faded sidebar">
    <h4><strong>Search By</strong></h4>
    <nav>
      <ul id="sideNav" class="nav nav-pills customPills nav-stacked flex-column">
        <li class="nav-item" ng-class="{active:tab.isSet(1)}">
          <a href="" class="nav-link" ng-click="tab.setTab(1)">
            <strong>Address</strong>
          </a>
        </li>
        <li class="nav-item" ng-class="{active:tab.isSet(2)}">
          <a href="" class="nav-link" ng-click="tab.setTab(2)">
            <strong>Child's Name</strong>
          </a>
        </li>
        <li class="nav-item" ng-class="{active:tab.isSet(3)}">
          <a href="" class="nav-link" ng-click="tab.setTab(3)">
            <strong>Case ID</strong>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <search-by-name ng-show="tab.isSet(2)"></search-by-name>
  </div>
</section>