
<div class="content col-sm-9 offset-sm-3 col-md-10 offset-md-2 col-lg-10 col-xl-8">
    <form class="form" role="form" name="byNameForm" novalidate="">    
      <div class="col-sm-12" ng-hide="sbn.Set(1)">
        <div class="form-group col-sm-7 col-md-5" >
          <label for="ChildName" ><h4 class="required">Child's Name</h4></label>
          <angucomplete-alt id="childname"              
                placeholder="Enter Child's name"
                pause="100"
                selected-object="selectedChild"
                local-data="sbn.children"
                local-search="localSearch"
                title-field="FirstName,LastName"
                search-fields = "FirstName,LastName,FullName"
                description-field = "DOB"
                minlength="1"
                input-class="form-control form-control-small"
                override-suggestions="true"
                input-name="childName"
                field-required="true"
                auto-match="true"
                ng-model = "selectedChild.originalObject.FullName"
                match-class="highlight"/>
        </div>
        <div class="form-group col-sm-4 col-md-3 col-lg-2">
          <label for="DOB"><h4 >Date of Birth</h4></label>       
          <input class="form-control"  name="dob" id="dob" placeholder="mm/dd/yyyy" ng-pattern="/^([0-9]{2}[-/][0-9]{2}[-/][0-9]{4})|([0-9]{8})/" 
          ng-model = "selectedChild.originalObject.DOB" ng-class="{'borderRed':byNameForm.dob.$dirty && byNameForm.dob.$invalid}" > 
          <span ng-messages="byNameForm.dob.$error" class="has-error ng-scope ng-active "
            ng-if="byNameForm.dob.$submitted || byNameForm.dob.$Invalid || byNameForm.dob.$dirty  ">
            <span ng-message="pattern"><span>Should be in mm/dd/yyyy</span></span>
          </span>     
        </div>
        <input type="hidden" name="childid" ng-model="selectedChild.originalObject.PersonId" />
      </div>
    </form>
    <form class="form" role="form" name="searchForm" novalidate=""> 
      <div class="col-sm-12">
        <div class="form-group col-sm-7 col-md-5" >
          <label for="Address" ><h4 class="required">Address at Custody</h4></label>        
            <input class="form-control" name="address" id="Address" placeholder="Address" ng-model ="selectedChild.originalObject.AddrLine1"
            ng-class="{'borderRed':searchForm.address.$dirty && searchForm.address.$invalid}" required=""
            ng-disabled= "selectedChild.originalObject.FullName.length && !(selectedChild.originalObject.AddrLine1 && selectedChild.originalObject.AddrCity && selectedChild.originalObject.AddrState)">
            <span ng-messages="searchForm.address.$error" class="has-error ng-scope ng-active "
              ng-if="searchForm.$submitted || searchForm.address.$Invalid || searchForm.address.$dirty">
              <span ng-message="required"><span>Address Required</span></span>
            </span>
             <span ng-messages="searchForm.address.$error" class="has-error ng-scope ng-active "
              ng-if="searchForm.childName.$dirty && searchForm.childName.$valid && searchForm.address.$pristine && searchForm.city.$pristine  && searchForm.state.$pristine">
              <span ng-message="required"><span>No address in MACWIS</span></span>
            </span>               
        </div>
        <div class="form-group col-sm-4 col-md-3 col-lg-2" ng-show="sbn.Set(1)">
          <label for="Zip" ><h4>Address Line 2</h4></label>
          <input class="form-control" name="addressLine2"  id="addressLine2" placeholder="Apt / Suite" ng-model = "AddrLine2">
        </div>
      </div>
      <div class="col-sm-12">
      <div class="form-group col-sm-4 col-md-3" >
        <label for="City" ><h4 class="required">City</h4></label>      
          <input class="form-control" type="text" name="city"  id="City" placeholder="City" ng-model = "selectedChild.originalObject.AddrCity" 
          ng-class="{'borderRed':searchForm.city.$dirty && searchForm.city.$invalid}" required
          ng-disabled= "selectedChild.originalObject.FullName.length && !(selectedChild.originalObject.AddrLine1 && selectedChild.originalObject.AddrCity && selectedChild.originalObject.AddrState)">
          <span ng-messages="searchForm.city.$error" class="has-error ng-scope ng-active "
             ng-if="searchForm.$submitted || searchForm.city.$Invalid || searchForm.city.$dirty">
            <span ng-message="required"><span>City Required</span></span>
          </span>
      </div>
      <div class="form-group col-sm-3 col-md-2" >
        <label for="State"><h4 class="required">State</h4></label>
          <input class="form-control" type="text" name="state"  id="State" placeholder="State" ng-maxlength = "2" 
          ng-model = "selectedChild.originalObject.AddrState" ng-class="{'borderRed':searchForm.state.$dirty && searchForm.state.$invalid}" required
          ng-disabled= "selectedChild.originalObject.FullName && !(selectedChild.originalObject.AddrLine1 && selectedChild.originalObject.AddrCity && selectedChild.originalObject.AddrState)">
          <span ng-messages="searchForm.state.$error" class="has-error ng-scope ng-active "
             ng-if="searchForm.$submitted || searchForm.state.$Invalid || searchForm.state.$dirty  ">
            <span ng-message="required"><span>State Required</span></span>
            <span ng-message="maxlength"><span>State should be MS</span></span>
          </span> 
      </div>
      <div class="form-group col-sm-4 col-md-3 col-lg-2" >
        <label for="Zip" ><h4 class="required">Zip</h4></label>
          <input class="form-control" name="zip"  id="Zip" placeholder="Zip" ng-maxlength = "5" ng-model = "selectedChild.originalObject.AddrZip"
          ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' ng-minlength="5" ng-class="{'borderRed':searchForm.zip.$dirty && searchForm.zip.$invalid}" required ng-disabled= "selectedChild.originalObject.FullName && !(selectedChild.originalObject.AddrLine1 && selectedChild.originalObject.AddrCity && selectedChild.originalObject.AddrState)">
          <span ng-messages="searchForm.zip.$error" class="has-error ng-scope ng-active "
             ng-if="searchForm.$submitted || searchForm.zip.$Invalid || searchForm.zip.$dirty">
            <span ng-message="required"><span>Zip Required</span></span>
            <span ng-message="pattern"><span>Invalid zip code</span></span>
            <span ng-message="maxlength"><span>Should be in 5 digits</span></span>
          </span> 
      </div><br/>
      </div>
      <div class="col-sm-12">
      <div class="form-group col-sm-5 col-md-3 pull-left" >
        <label for="Addtnchld" ng-hide="sbn.Set(1)"><h4 >Additional Children</h4></label>
        <label for="Addtnchld" ng-show="sbn.Set(1)"><h4 class="required">Number of Children</h4></label>
        <input class="form-control" type="number" name="addtnchld"  id="Addtnchld" ng-pattern="/^[0-9]*$/" min="0" ng-model = "addChildren"  ng-change = "sbn.additionalChildren()" ng-class="{'borderRed':searchForm.addtnchld.$dirty && searchForm.addtnchld.$invalid}">
            <span ng-messages="searchForm.addtnchld.$error" class="has-error ng-scope ng-active "
             ng-if="searchForm.addtnchld.$invalid || searchForm.addtnchld.$dirty">
             <span ng-message="min"><span>Minimum value is 0</span></span>
            <span ng-message="pattern"><span>Invalid</span></span>
          </span> 
      </div> 
      </div> 
      <div class="col-xs-12 col-sm-12" ng-repeat = "a in childArray track by $index" ng-if = "!addChildren == ''">
        <div class="form-group col-sm-5 col-md-3 col-lg-3">
          <label class="required">Gender</label>
          <select class="form-control" name="gender{{$index}}" id = "{{ 'gender-' + $index }}" ng-model="gender[$index]" ng-change="disableInputs = (gender[$index]=== 'ig' || gender[$index]=== 'ib')" required="" ng-class="{'borderRed':searchForm['gender' + $index].$touched && 
          searchForm['gender' + $index].$invalid}">
              <option class="form-control" value="" >---Please select---</option> 
              <option class="form-control" value="f">Female</option> 
              <option class="form-control" value="m">Male</option>
              <option class="form-control" value="ig">Infant Female(0 to 18mo)</option>
              <option class="form-control" value="ib">Infant Male(0 to 18mo)</option>
          </select>
          <span ng-messages="searchForm['gender' + $index].$error" class="has-error ng-scope ng-active "
             ng-if="searchForm['gender' + $index].$Invalid || searchForm['gender' + $index].$touched">
            <span ng-message="required"><span>Required</span></span>
          </span>          
          <p class="required"><small class="form-text text-muted">Children under 18 months shall sleep in a crib.</small></p>       
        </div>
        <div class="form-group col-sm-3 col-md-2 col-lg-2" ng-if="!disableInputs">
          <label class="required">Age</label>
          <input class="form-control" id="{{ 'age-' + $index }}" type="number" name="age{{$index}}" maxlength="2" min="0" max="21" ng-model="age[$index]" ng-pattern="/^[0-9]*$/" ng-class="{'borderRed':searchForm['age' + $index].$dirty && 
          searchForm['age' + $index].$invalid}" required="">         
          <span ng-messages="searchForm['age' + $index].$error" class="has-error ng-scope ng-active"
                ng-if="searchForm['age' + $index].$invalid || searchForm['age' + $index].$dirty">
            <span ng-message="min"><span>Please enter age between 0 and 21</span></span>
            <span ng-message="max"><span>Please enter age between 0 and 21</span></span>
            <span ng-message="pattern"><span>Invalid Pattern</span></span>
          </span> 
        </div> <br/>
      </div>
      <div class="row"> 
        <input type="button" value="Clear" class="btn btn-lg btn-danger  pull-right" ng-model="submit" ng-click="sbn.clear()"  id="clear"  name="btnClear"/> 
        <input type="button" value="Search" class="btn btn-lg btn-primary btn-position pull-right" ng-model="submit" ng-click="sbn.search(); sbn.onClick(0)" ng-disabled="searchForm.$invalid && byNameForm.$invalid || sbn.Set(1) && searchForm.$invalid" id="search" name="btnSubmit"/> 
      </div> 
    </form>
   <!--  <pre>pagedItems.length: {{pagedItems.length| json }}</pre>  
     <pre>currentPage: {{currentPage|json}}</pre>  -->
    <form>
      <div class="row" ng-show = "pagedItems.length">
        <div class="col-sm-3 col-md-2 col-lg-2">
          <label>Show</label>
          <select class="form-control" id="entries" name="entries" ng-model="entriesPerPage" ng-init="entriesPerPage = '25'" ng-change="sbn.groupToPages(); sbn.setPage(currentPage)">
            <option class="form-control" selected="selected" value="25">25</option>
            <option class="form-control" value="50">50</option>
            <option class="form-control" value="75">75</option>
            <option class="form-control" value="100">100</option>
          </select>
          <!-- <input class="form-control" id="entries" type="number" name="entries" min="0" ng-model="entries" ng-init="entries = 25" ng-change = "sbn.groupToPages()"> -->
        </div>
      </div> 
    </form>
    <br/>             
    <div class="table table-responsive" ng-if = "pagedItems.length">
      <table class="table table-hover">
        <thead>
          <td colspan="7">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}" class="page-item">
                        <a href ng-click="sbn.firstPage()">« First</a>
                    </li>
                    <li ng-class="{disabled: currentPage == 0}" class="page-item">
                        <a href ng-click="sbn.prevPage()">« Prev</a>
                    </li>
                
                    <li ng-repeat="page in sbn.range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: page == currentPage}"
                        ng-click="sbn.setPage(page)" class="page-item">
                        <a href ng-bind="page + 1">1</a>
                    </li>
                 
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}" class="page-item">
                        <a href ng-click="sbn.nextPage()">Next »</a>
                    </li>
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}" class="page-item">
                        <a href ng-click="sbn.lastPage()">Last »</a>
                    </li>
                </ul>
            </nav>
          </td>
        </thead>
        <thead class="thead-inverse">
          <tr>
            <th>Type Of Home</th>
            <th>Distance(mi)</th>
            <th>Male Beds <br/>Available</th>
            <th>Female Beds <br/>Available</th>
            <th>Either Beds<br/> Available</th>
            <th>Resource Name</th>
            <th>Resource Address</th>
            <th>Resource <br/>Phone Number</th>
            <th>County</th>  
          </tr>
        </thead>
        <tfoot>
          <td colspan="7">
            <nav class="pull-right">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}" class="page-item">
                        <a href ng-click="sbn.firstPage()">« First</a>
                    </li>
                    <li ng-class="{disabled: currentPage == 0}" class="page-item">
                        <a href ng-click="sbn.prevPage()">« Prev</a>
                    </li>
                
                    <li ng-repeat="page in sbn.range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: page == currentPage}"
                        ng-click="sbn.setPage(page)" class="page-item">
                        <a href ng-bind="page + 1">1</a>
                    </li>
                 
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}" class="page-item">
                        <a href ng-click="sbn.nextPage()">Next »</a>
                    </li>
                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}" class="page-item">
                        <a href ng-click="sbn.lastPage()">Last »</a>
                    </li>
                </ul>
            </nav>
          </td>
        </tfoot>
        <tbody ng-repeat="placement in pagedItems[currentPage]">
          <tr>
            <td>{{  sbn.priorAne(placement) }} </td>
            <td style="text-align: center">{{placement.Distance | number:2}} </td>
            <td style="text-align: center">{{placement.AvailBoy}} </td>
            <td style="text-align: center">{{placement.AvailGirl}} </td>
            <td style="text-align: center">{{placement.AvailEither}}</td>
            <td>{{placement.ResourceName}} </td>
            <td>{{placement.Address}}</td>
            <td>
              <div ng-repeat= "list in placement.PhoneList">{{list.Number}}</div>
            </td>
            <td>{{placement.County}} </td>           
          </tr>       
        </tbody>
      </table>
    </div>  
</div>
<div class="loading" ng-show="loading">
  <div class="spinn"></div>
</div>

